<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iletişim</title>
    <link rel="stylesheet" href="/src/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <section id="navbar-top">
        <div class="container">
          <div class="navbarContainer">
            <div class="topline">
              <ul class="topline-ul">
                <li>
                  <i class="fa-solid fa-phone"></i>Telefon : 0542 533 5292
                </li>
                <li>
                  <i class="fa-solid fa-envelope"></i>E-posta:
                  ekrem.kaya@de-kaya.com
                </li>
                <li>
                  <i class="fa-regular fa-clock"></i>Çalışma Saatleri: 08:00 -
                  22:00
                </li>
              </ul>
              <div class="socialmedia">
                <ul class="socialmedia-ul">
                  <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="navBar">
              <div class="logo">
                <img src="/images/dekaya-logo.png" alt="" />
              </div>
              <div class="buttons">
                <a href="/index.html">Anasayfa</a>
                <a href="/views/aboutus.html">Hakkımızda</a>
                <a href="/views/services.html">Hizmetler</a>
                <a href="/views/references.html">Referanslar</a>
                <a href="/views/contact.html">İletişim</a>
              </div>
              <div class="btn-mobile">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="nav-menu">
              <a class="nav-item" href="/index.html">Anasayfa</a>
              <a class="nav-item" href="/views/aboutus.html">Hakkımızda</a>
              <a class="nav-item" href="/views/services.html">Hizmetler</a>
              <a class="nav-item" href="/views/references.html">Referanslar</a>
              <a class="nav-item" href="/views/contact.html">İletişim</a>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <section id="contactUs">
      <div class="container">
        <div class="contausTitle">
          <h1>İletişim Bilgileri</h1>
        </div>

        <div class="contactUsLayout">
          <div class="contactUsLayoutRight">
            <div class="contactDetails">
              <ul>
                <li>
                  <i class="fa-solid fa-location-dot"></i
                  ><span>Adres :</span> Yerbelen Mahallasi, Muğla Fethiye Yolu
                  No: 263 - 48600 Ortaca/Muğla
                </li>
                <li>
                  <i class="fa-solid fa-phone"></i><span>Telefon :</span> 0542
                  533 5292
                </li>
                <li>
                  <i class="fa-solid fa-envelope"></i
                  ><span>E-mail :</span> ekrem.kaya@de-kaya.com
                </li>
              </ul>
            </div>
          </div>
          <div class="contactUsLayoutLeft">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d949.5049401540797!2d28.789732616840084!3d36.82472100478759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c07a4a80fe03ad%3A0x5b5e6e156f5f535e!2sDe-Kaya%20Bilgi%20Teknolojileri%20ve%20So%C4%9Futma%20Sistemleri!5e0!3m2!1ssv!2sse!4v1726569500135!5m2!1ssv!2sse"

              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <section id="footer">
        <div class="container">
          <div class="footerLayout">
            <p>© Copyright De-Kaya 2024. Tüm hakları saklıdır.</p>
          </div>
        </div>
      </section>
    </footer>
    <script src="/src/main.js"></script>
  </body>
</html>
