<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Referanslar</title>
    <link rel="stylesheet" href="/src/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <section id="navbar-top">
        <div class="container">
          <div class="navbarContainer">
            <div class="topline">
              <ul class="topline-ul">
                <li>
                  <i class="fa-solid fa-phone"></i>Telefon : 0542 533 5292
                </li>
                <li>
                  <i class="fa-solid fa-envelope"></i>E-posta:
                  ekrem.kaya@de-kaya.com
                </li>
                <li>
                  <i class="fa-regular fa-clock"></i>Çalışma Saatleri: 08:00 -
                  22:00
                </li>
              </ul>
              <div class="socialmedia">
                <ul class="socialmedia-ul">
                  <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="navBar">
              <div class="logo">
                <img src="/images/dekaya-logo.png" alt="" />
              </div>
              <div class="buttons">
                <a href="/index.html">Anasayfa</a>
                <a href="/views/aboutus.html">Hakkımızda</a>
                <a href="/views/services.html">Hizmetler</a>
                <a href="/views/references.html">Referanslar</a>
                <a href="#">İletişim</a>
              </div>
              <div class="btn-mobile">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <div class="nav-menu">
              <a class="nav-item" href="/index.html">Anasayfa</a>
              <a class="nav-item" href="/views/aboutus.html">Hakkımızda</a>
              <a class="nav-item" href="/views/services.html">Hizmetler</a>
              <a class="nav-item" href="/views/references.html">Referanslar</a>
              <a class="nav-item" href="#">İletişim</a>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <section id="referencesPage">
      <div class="container">
        <div class="refTitle">
          <h1>Referanslarımız ve Yetkili Olduğumuz Servisler</h1>
        </div>

        <div class="references">
          <div class="refCard">
            <img src="/images/referans/ahmet-yar.jpg" alt="" />
            <p class="fs-1">AHMET YAR SOĞ. SAN TİC.AŞ.</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri AHMET YAR SOĞ. SAN TİC.AŞ. 'nin bölge
              yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/nurdil.jpg" alt="" />
            <p class="fs-1">NURDİL TEK. SOĞ.SAN.TİC. A.Ş</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri NURDİL TEK. SOĞ.SAN.TİC. A.Ş. 'nin
              bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/tthotels.jpg" alt="" />
            <p class="fs-1">TT Hotels Türkiye</p>
            <p class="fs-05">
              De-Kaya soğutma sistemleri TT Hotels Türkiye'nin Muğla bölgesinde
              ki tesislerine hizmet vermektedir
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/akdenizsogutma.jpg" alt="" />
            <p class="fs-1">
              AKDENİZ SOĞUTMA MALZEMELERİ VE OTEL EKİPMANLARI SAN. TİC. LTD. ŞTİ
            </p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri AKDENİZ SOĞUTMA MALZEMELERİ VE OTEL
              EKİPMANLARI SAN. TİC. LTD. ŞTİ. 'nin bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/esensogutma.jpg" alt="" />
            <p class="fs-1">ESEN IST.SOĞ. ELEK. İNŞ SAN. VE TİC LTD ŞTİ.</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri ESEN IST.SOĞ. ELEK. İNŞ SAN. VE TİC LTD
              ŞTİ. 'nin bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/krutzo.png" alt="" />
            <p class="fs-1">KRUTZO MAK.MÜH.SAN.VE TİC. LTD.ŞTİ</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri KRUTZO MAK.MÜH.SAN.VE TİC. LTD.ŞTİ 'nin
              bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/diktas.jpg" alt="" />
            <p class="fs-1">DİKTAŞ SOĞUTMA VE METAL İMALAT SAN. TİC. A.Ş</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri DİKTAŞ SOĞUTMA VE METAL İMALAT SAN.
              TİC. A.Ş 'nin bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/efes.jpg" alt="" />
            <p class="fs-1">
              EFE MARKET EKİPMANLARI VE END. SOĞ. SAN TİC. A.Ş.
            </p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri EFE MARKET EKİPMANLARI VE END. SOĞ. SAN
              TİC. A.Ş. 'nin bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/yartek.jpg" alt="" />
            <p class="fs-1">YAR TEK SOĞ.SAN VE TİC LTD ŞTİ.</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri YAR TEK SOĞ.SAN VE TİC LTD ŞTİ'nin
              bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/proso.jpg" alt="" />
            <p class="fs-1">PROSO SOĞUTMA VE MAR.EKPMANLARI SATIŞ PAZ.A.Ş.</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri PROSO SOĞUTMA VE MAR.EKPMANLARI SATIŞ
              PAZ.A.Ş. 'nin bölge yetkili servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/drksg.jpg" alt="" />
            <p class="fs-1">DRK SOĞUTMA</p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri DRK SOĞUTMA'nın bölge yetkili
              servisidir.
            </p>
          </div>

          <div class="refCard">
            <img src="/images/referans/cantek.jpg" alt="" />
            <p class="fs-1">
              CANTEK PRJ.TAS.MÜH.İNŞ.TAAHÜT END.SOĞ.SAN.VE TİC A.Ş
            </p>
            <p class="fs-05">
              De-Kaya Soğutma Sistemleri CANTEK PRJ.TAS.MÜH.İNŞ.TAAHÜT
              END.SOĞ.SAN.VE TİC A.Ş. 'nin bölge yetkili servisidir.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <section id="footer">
        <div class="container">
          <div class="footerLayout">
            <p>© Copyright De-Kaya 2024. Tüm hakları saklıdır.</p>
          </div>
        </div>
      </section>
    </footer>
    <script src="/src/main.js"></script>
  </body>
</html>
