@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.topline,
.navBar,
.topline-ul,
.socialmedia-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topline {
  background-color: #e2e5f1;
  border-radius: 0px 0px 10px 10px;
}
.topline .topline-ul {
  gap: 1rem;
}
.topline .topline-ul i {
  font-size: 1.2rem;
  padding: 1rem;
  color: #007fff;
}

.socialmedia {
  margin: 1rem;
}
.socialmedia .socialmedia-ul {
  gap: 1rem;
}
.socialmedia .socialmedia-ul i {
  font-size: 1.2rem;
  color: #007fff;
}

.navBar {
  padding: 1rem;
  border-bottom: 0.1px solid #007fff;
}
.navBar .logo img {
  width: 200px;
}
.navBar .buttons {
  padding-right: 1rem;
}
.navBar .buttons a {
  margin-right: 1rem;
  font-weight: 700;
  color: #0b0f19;
}
.navBar .buttons a:hover {
  color: #007fff;
  transition: all 0.5ms;
  border-bottom: 1px solid #0b0f19;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #0b0f19;
}

.btn-mobile {
  display: none;
}

.nav-menu {
  display: none;
}

@media (max-width: 767px) {
  .container {
    max-width: 95%;
  }
  .socialmedia {
    display: none;
  }
  .btn-mobile {
    display: block;
  }
  .topline {
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 0px;
    border-bottom: 0.1px solid #007fff;
  }
  .topline .topline-ul {
    width: 100%;
    flex-direction: column;
    gap: 0;
    font-size: 0.9rem;
  }
  .topline .topline-ul i {
    padding: 0.5rem;
    font-size: 0.7rem;
  }
  .navBar .buttons {
    display: none;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -1000px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    color: white;
    transition: 0.8s;
    font-size: 1rem;
  }
  .nav-menu a {
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    color: #007fff;
  }
}
.nav-item:hover {
  border-bottom: 1px solid #0b0f19;
  cursor: pointer;
}

.nav-menu.active {
  right: 0px;
}

@media (min-width: 768px) and (max-width: 1399px) {
  .container {
    max-width: 95%;
  }
  .topline {
    background-color: #fff;
    border-bottom: 0.1px solid #007fff;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0px;
  }
  .topline .topline-ul {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
  .topline .topline-ul i {
    padding: 0.5rem;
  }
  .socialmedia .socialmedia-ul i {
    padding-right: 2rem;
    font-size: 2rem;
  }
  .btn-mobile.active .bar:nth-child(2) {
    opacity: 0;
  }
  .btn-mobile.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .btn-mobile.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navBar .buttons {
    display: none;
  }
  .btn-mobile {
    display: block;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    right: -1000px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    color: white;
    transition: 0.8s;
    font-size: 1rem;
  }
  .nav-menu a {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #007fff;
    margin: 1rem;
  }
}
.nav-item:hover {
  border-bottom: 1px solid #0b0f19;
  cursor: pointer;
}

.nav-menu.active {
  right: 0px;
}/*# sourceMappingURL=style.css.map */