@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

$primary: #007fff;
$lightGrey: #e2e5f1;
$grey: #0b0f19;
$white: #fff;
$transition: all 0.5s;

.container {
  max-width: 90%;
  margin: 0 auto;
}

.btn-primary {
  width: 140px;
  height: 45px;
  font-size: 1rem;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: $white;
    color: $primary;
    cursor: pointer;
    transition: $transition;
  }
}

.topline,
.navBar,
.topline-ul,
.socialmedia-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topline {
  background-color: $lightGrey;
  border-radius: 0px 0px 10px 10px;
  .topline-ul {
    gap: 1rem;
    i {
      font-size: 1rem;
      padding: 1rem;
      color: $primary;
    }
  }
}

.socialmedia {
  margin: 1rem;
  .socialmedia-ul {
    gap: 1rem;
    i {
      font-size: 1.2rem;
      color: $primary;
    }
  }
}

.navBar {
  padding: 1rem;
  border-bottom: 0.1px solid $primary;
  .logo {
    img {
      width: 200px;
    }
  }
  .buttons {
    padding-right: 1rem;
    a {
      margin-right: 1rem;
      font-weight: 500;
      color: $grey;
    }
    a:hover {
      color: $primary;
      transition: $transition;
      border-bottom: 1px solid $grey;
    }
  }
}
.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $grey;
}

.btn-mobile {
  display: none;
}

.nav-menu {
  display: none;
}
/* Banner */

.bannerLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "bannerText"
  "imgBanner";
  gap: 1rem;
  .imgBanner{
    grid-template-areas: "imgBanner";
    #bannerImg{
      width: 100%;
    }
  }
  .bannerText {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $white;
    padding: 2rem;
    border-radius: 0px 0px 7px 7px;
    gap: 1rem;
  }
}


@media (max-width: 767px) {
  .container {
    max-width: 95%;
  }
  .socialmedia {
    display: none;
  }
  .btn-mobile {
    display: block;
  }
  .topline {
    background-color: $white;
    margin-top: 1rem;
    border-radius: 0px;
    border-bottom: 0.1px solid $primary;
    .topline-ul {
      width: 100%;
      flex-direction: column;
      gap: 0;
      font-size: 0.9rem;
      i {
        padding: 0.5rem;
        font-size: 0.7rem;
      }
    }
  }
  .btn-mobile.active .bar:nth-child(2) {
    opacity: 0;
  }
  .btn-mobile.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .btn-mobile.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navBar .buttons {
    display: none;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -1000px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
    width: 100%;
    color: white;
    transition: $transition;
    font-size: 1rem;
    a {
      padding: 0.7rem;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
    }
  }
  .bannerText {
    flex-direction: column;
    padding: 1rem !important;
    .bannerP {
      text-align: center;
      font-size: .8rem;
    }
  }
  .nav-item:hover {
  border-bottom: 1px solid $grey;
  cursor: pointer;
  } 
  .nav-menu.active{ 
    right: 0px;
  }
}


@media (min-width: 768px) and (max-width: 1399px) {
  .container {
    max-width: 95%;
  }
  .topline {
    background-color: $white;
    border-bottom: 0.1px solid $primary;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0px;
    .topline-ul {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      i {
        padding: 0.5rem;
      }
    }
  }
  .socialmedia {
    .socialmedia-ul {
      i {
        padding-right: 2rem;
        font-size: 2rem;
      }
    }
  }
  .btn-mobile.active .bar:nth-child(2) {
    opacity: 0;
  }
  .btn-mobile.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .btn-mobile.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navBar .buttons {
    display: none;
  }
  .btn-mobile {
    display: block;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    right: -1000px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
    width: 100%;
    color: white;
    transition: $transition;
    font-size: 1rem;
    a {
      padding-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
      margin: 1rem;
    }
  }
  .nav-item:hover {
    border-bottom: 1px solid $grey;
    cursor: pointer;
  } 
  .nav-menu.active{ 
    right: 0px;
  }
  .bannerText {
    flex-direction: column;
    padding: 1rem !important;
    .bannerP {
      text-align: center;
    }
  }
}
