@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

$primary: #007fff;
$secondary: rgb(108, 182, 255);
$lightGrey: #e2e5f1;
$grey: #0b0f19;
$grey500: rgb(45, 47, 54);
$white: #fff;
$transition: all 0.5s;

.container {
  max-width: 90%;
  margin: 0 auto;
}

.btn-primary {
  width: 140px;
  height: 45px;
  font-size: 1rem;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: $white;
    color: $primary;
    cursor: pointer;
    transition: $transition;
  }
}

.topline,
.navBar,
.topline-ul,
.socialmedia-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topline {
  background-color: $secondary;
  border-radius: 0px 0px 10px 10px;
  .topline-ul {
    gap: 1rem;
    i {
      font-size: 1rem;
      padding: 1rem;
      color: $primary;
    }
  }
}

.socialmedia {
  margin: 1rem;
  .socialmedia-ul {
    gap: 1rem;
    i {
      font-size: 1.2rem;
      color: $primary;
    }
  }
}

.navBar {
  padding: 1rem;
  border-bottom: 0.1px solid $primary;
  .logo {
    img {
      width: 200px;
    }
  }
  .buttons {
    padding-right: 1rem;
    a {
      margin-right: 1rem;
      font-weight: 500;
      color: $grey;
    }
    a:hover {
      color: $primary;
      transition: $transition;
      border-bottom: 1px solid $grey;
    }
  }
}
.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $grey;
}

.btn-mobile {
  display: none;
}

.nav-menu {
  display: none;
}
/* Banner */

.bannerLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "bannerText"
    "imgBanner";
  gap: 1rem;
  .imgBanner {
    grid-template-areas: "imgBanner";
    #bannerImg {
      width: 100%;
    }
  }
  .bannerText {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $white;
    padding: 2rem;
    border-radius: 0px 0px 7px 7px;
    gap: 1rem;
  }
}
.marqueeText {
  font-size: 2rem;
  font-weight: 800;
  color: $primary;
}

/* Service Layout */
#servicesLayout {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.serviceGridControl {
  margin-left: 15%;
  margin-right: 15%;
}
.serviceLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  justify-items: center;
  gap: 2rem;
  .serviceCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 $secondary;
    padding: 0.5rem;
    .cardImg {
      width: 250px;
      height: 200px;
      img {
        padding-top: 1rem;
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }
    }
    .cardDetail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 95%;
      h3 {
        font-weight: 500;
      }
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $grey500;
        font-size: .8rem;
      }
      .cardDetailButton {
        color: #0b0f19;
        font-size: .8rem;
        &:hover {
          cursor: pointer;
          color: $primary;
          transition: $transition;
        }
        i {
          padding-left: 1rem;
        }
      }
    }
  }
}

#omOss {
  background-color: $secondary;
}
.omOssLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 1rem;
  color: #ffffff;
  border-radius: 10px;
  .omOssRight {
    margin-left: 2rem;
    width: 95%;
    h1 {
      border-bottom: 1px solid $primary;
    }
    p {
      line-height: 1.3rem;
    }
    .omOssCards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1fr;
      .omOssCard {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2rem;
        span {
          position: relative;
          width: 30px;
          height: 30px;
          background-color: $primary;
          border-radius: 50%;
        }
        i {
          position: absolute;
          top: 7px;
          left: 6px;
          color: #e6e4e4;
        }
        .omOssCardDetails {
          padding-left: 1rem;
          p {
            line-height: 1.5rem;
            font-size: .8rem;
          }
        }
      }
    }
  }
  .omOssLeft {
    width: 85%;
    margin-left: 5rem;
    img {
      border-radius: 10px;
      width: 400px;
      height: 200px;
      margin-bottom: 2rem;
    }
    h2 {
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.5rem;
      width: 90%;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 95%;
  }
  .socialmedia {
    display: none;
  }
  .btn-mobile {
    display: block;
  }
  .topline {
    background-color: $white;
    margin-top: 1rem;
    border-radius: 0px;
    border-bottom: 0.1px solid $primary;
    .topline-ul {
      width: 100%;
      flex-direction: column;
      gap: 0;
      font-size: 0.9rem;
      i {
        padding: 0.5rem;
        font-size: 0.7rem;
      }
    }
  }
  .btn-mobile.active .bar:nth-child(2) {
    opacity: 0;
  }
  .btn-mobile.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .btn-mobile.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navBar .buttons {
    display: none;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -1000px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    color: white;
    transition: $transition;
    font-size: 1rem;
    a {
      padding: 0.7rem;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
    }
  }
  .bannerText {
    flex-direction: column;
    padding: 1rem !important;
    .bannerP {
      text-align: center;
      font-size: 0.8rem;
    }
  }
  .nav-item:hover {
    border-bottom: 1px solid $grey;
    cursor: pointer;
  }
  .nav-menu.active {
    right: 0px;
  }
  .marqueeText {
    font-size: 1rem;
    font-weight: 600;
    color: $primary;
  }
  .serviceLayout { 
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .serviceGridControl {
    margin-left: 0;
    margin-right: 0;
  }
  .omOssLayout { 
    grid-template-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .omOssRight {
      margin-left: 1rem;
      width: 100%;
      & :nth-child(2) {
        width: 95%;
      }
      .omOssCards {
        grid-template-columns: 1fr;
        .omOssCard {
          margin-top: 1.2rem;
        }
      }
     
    }
    .omOssLeft {
      width: 100%;
      margin-left: 1rem;
      border-top: 1px solid $primary;
      img {
        display: none;
      }
      h2 {
        padding-top: 1rem;
      }
      p {
        padding-bottom: 1rem;
        border-bottom: 1px solid $primary;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .container {
    max-width: 95%;
  }
  .topline {
    background-color: $white;
    border-bottom: 0.1px solid $primary;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0px;
    .topline-ul {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      i {
        padding: 0.5rem;
      }
    }
  }
  .socialmedia {
    .socialmedia-ul {
      i {
        padding-right: 2rem;
        font-size: 2rem;
      }
    }
  }
  .btn-mobile.active .bar:nth-child(2) {
    opacity: 0;
  }
  .btn-mobile.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .btn-mobile.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navBar .buttons {
    display: none;
  }
  .btn-mobile {
    display: block;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    right: -1000px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    color: white;
    transition: $transition;
    font-size: 1rem;
    a {
      padding-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
      margin: 1rem;
    }
  }
  .nav-item:hover {
    border-bottom: 1px solid $grey;
    cursor: pointer;
  }
  .nav-menu.active {
    right: 0px;
  }
  .bannerText {
    flex-direction: column;
    padding: 1rem !important;
    .bannerP {
      text-align: center;
    }
  }
  .serviceGridControl {
    margin-left: 0;
    margin-right: 0;
  }
  .serviceLayout { 
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .omOssLayout { 
    grid-template-columns: 1fr;
    .omOssLeft {
      width: 100%;
      margin-left: 1rem;
      border-top: 1px solid $primary;
      img {
        display: none;
      }
      h2 {
        padding-top: 1rem;
      }
      p {
        padding-bottom: 1rem;
        border-bottom: 1px solid $primary;
      }
    }
  }
}
